.jumbotron {
    background: url("http://bgfons.com/uploads/paint/paint_texture2173.jpg");
    background-color: rgb(202, 79, 79);

}

h1 {
    color: goldenrod; 
    font-size: 48px%;
    font-family: fantasy; 
}

h2 {
    color: goldenrod; 
}

h3 {
    color: goldenrod; 
}
button {

    background-color: yellow;
}